mixin aside(type)
	aside.site-aside
		ul
			- var pages = [];
			- for page in resource.pages
				- if (page.directory.indexOf(type) === 0 && page.directory.indexOf('/demo') === -1)
					- pages.push(page);
					- pages.sort(function(a, b){
						- var oa = a.meta.order || 100;
						- var ob = b.meta.order || 100;
						- return parseInt(oa, 10) - parseInt(ob, 10)
					- })
			each page in pages
				if post.title === page.title
					li.current
						a(href="#{config.site.urlPrefix}/#{page.directory}") #{page.title}
				else
					li
						a(href="#{config.site.urlPrefix}/#{page.directory}") #{page.title}
