mixin demos
	each page in resource.pages
		if page.filepath.indexOf('site/' + post.directory + '/demo/') === 0 
			.code-box(id="code-box-#{page.meta.id}")
				.code-box-meta
					.code-box-title
						i.kuma-icon.kuma-icon-tag
						em #{page.title}
						| #{post.meta.description}
				.code-box-demo
					div(id="#{page.meta.id}")
					.markdown !{page.meta.html}
					span.collapse
