doctype html
html
	head
		meta(charset="utf-8")
		title #{config.site.name} - #{config.site.description}
		meta(name="description", content="React UI Component Set")
		meta(name="google-site-verification", content="KFAGkw1GuB8rR3zO8O090v65MVhYI02Xl6B7-MoSFLk")
		meta(name="keywords", content="uxcore, react, component, react component")
		link(href="/static/favicon.ico", rel="icon", type="image/x-icon")
		link(rel="stylesheet", href="//alinw.alicdn.com/platform/common/s/1.1/global/global.css")
		link(rel="stylesheet", href="#{config.site.urlPrefix}/static/style/index.css?_t=#{config.site.timeStamp}")
		link#J_ThemeSiteStyle(rel="stylesheet", href="#{config.site.urlPrefix}/static/style/orange.css?_t=#{config.site.timeStamp}")
		link(rel="stylesheet", href="#{config.site.urlPrefix}/static/github-gist.min.css")
		script(src="#{config.site.urlPrefix}/static/modernizr.js")
		script.
			(function(W, D, M){
				if (M.localstorage) {
					var t = localStorage.getItem('theme');
					W.theme = 'orange';
					if (t !== 'blue' && t !== 'orange') {
						t = 'orange';
					}
					if (t && t !== W.theme) {
						W.theme = t;
						D.getElementById('J_ThemeSiteStyle').setAttribute('href', '#{config.site.urlPrefix}/static/style/' + t + '.css');
					}
				}	
			}(window, document, Modernizr));
		<!--[if lt IE 9]>
		script(src="//alinw.alicdn.com/platform/c/??es5-shim/4.1.12/es5-shim.min.js,es5-shim/4.1.12/es5-sham.min.js,console-polyfill/0.2.1/index.min.js,respond.js/1.4.2/respond.min.js")
		<![endif]-->
		script(src="//alinw.alicdn.com/platform/c/??jquery/1.11.3/dist/jquery.min.js,react/0.14.3/react-with-addons.min.js,react/0.14.3/react-dom.min.js")
		script(src="#{config.site.urlPrefix}/static/setting.js?_t=#{config.site.timeStamp}")
		block script
	body
		include ./includes/navigation
		#J-main.kuma-layout-full.site-main
			block content
		include ./includes/footer
