doctype html
html
	head
		meta(charset="utf-8")
		title #{config.site.name} - #{config.site.description}
		link(rel="stylesheet", href="//g.alicdn.com/platform/common/s/1.1/global/global.css")
		link#J_ThemeStyle(rel="stylesheet", href="#{config.site.urlPrefix}/static/style/payroll.css")
		link(rel="stylesheet", href="#{config.site.urlPrefix}/static/style/index.css")
		link(rel="stylesheet", href="#{config.site.urlPrefix}/static/github-gist.min.css")
		script(src="#{config.site.urlPrefix}/static/modernizr.js")
		script.
			(function(W, D, M){
				if (M.localstorage) {
					var t = localStorage.getItem('theme');
					W.theme = 'blue';
					if (t && t !== W.theme) {
						W.theme = t;
						D.getElementById('J_ThemeStyle').setAttribute('href', '/static/style/' + t + '.css');
					}
				}	
			}(window, document, Modernizr));
		<!--[if lt IE 9]>
		script(src="#{config.site.urlPrefix}/static/respond.min.js")
		<![endif]-->
		script(src="https://alinw.alicdn.com/uxcore/uxcore-lib/??es5-shim/4.1.12/es5-shim.min.js,es5-shim/4.1.12/es5-sham.min.js,react/latest/react-with-addons.js,react/latest/react-dom.min.js,rangy/1.3.0/rangy-core.min.js,jquery/1.11.3/jquery.min.js")
		script(src="#{config.site.urlPrefix}/static/uxcore.js")
		script(src="https://alinw.alicdn.com/uxcore/uxcore-lib/tinymce/4.2.5/tinymce-full.min.js")
		script.
			(function(w){
				w.require = function(name){
					return w.UXCORE[name];
				}
			})(window)
	body
		include navigation
		#J-main.kuma-layout-full.site-main
			block content
		include footer
