doctype html
html
	head
		meta(charset="utf-8")
		title #{config.site.name} - #{config.site.description}
		meta(name="description", content="React UI Component Set")
		meta(name="google-site-verification", content="KFAGkw1GuB8rR3zO8O090v65MVhYI02Xl6B7-MoSFLk")
		link(href="/static/favicon.ico", rel="icon", type="image/x-icon")
		link(rel="stylesheet", href="//g.alicdn.com/platform/common/s/1.1/global/global.css")
		link(rel="stylesheet", href="#{config.site.urlPrefix}/static/style/index.css")
		link#J_ThemeSiteStyle(rel="stylesheet", href="#{config.site.urlPrefix}/static/style/orange.css")
		link(rel="stylesheet", href="#{config.site.urlPrefix}/static/github-gist.min.css")
		script(src="#{config.site.urlPrefix}/static/modernizr.js")
		script.
			(function(W, D, M){
				if (M.localstorage) {
					var t = localStorage.getItem('theme');
					W.theme = 'orange';
					if (t !== 'blue' && t !== 'orange') {
						t = 'orange';
					}
					if (t && t !== W.theme) {
						W.theme = t;
						D.getElementById('J_ThemeSiteStyle').setAttribute('href', '#{config.site.urlPrefix}/static/style/' + t + '.css');
					}
				}	
			}(window, document, Modernizr));
		block script
	body
		include ./includes/navigation
		#J-main.kuma-layout-full.site-main
			block content
		include ./includes/footer
