mixin aside(type)
	aside.site-aside
		- var groups = {};
		- for page in resource.pages
			- if (page.directory.indexOf(type) === 0 && page.directory.indexOf('/demo') === -1 && page.directory.indexOf('\demo') === -1)
				- if (page.meta.subtype) {
					- if (groups[page.meta.subtype]) {
						- groups[page.meta.subtype].push(page);
					- } else {
						- groups[page.meta.subtype] = [page];
					- }
				-} else {
					- if (groups['N']) {
						- groups['N'].push(page);
					- } else {
						- groups['N'] = [page];
					- }
				- }
		each pages, type in groups
			if type !== 'N'
				h3.category-name #{type}
			ul
				each page in pages
					if post.title === page.title
						li.current
							a(href="#{config.site.urlPrefix}/#{page.directory}") #{page.title}
								small #{page.meta.chinese}
					else
						li
							a(href="#{config.site.urlPrefix}/#{page.directory}") #{page.title}
								small #{page.meta.chinese}
